@model IList<cafeteriaKFE.Models.Product>
@{
    ViewData["Title"] = "Products";
}

<h1>Products</h1>

<p>
    <a asp-controller="Product" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].BasePrice)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BasePrice)
            </td>
            <td>
                <a asp-controller="Product" asp-action="Edit" asp-route-id="@item.ProductId">Edit</a> |
                <a asp-controller="Product" asp-action="Details" asp-route-id="@item.ProductId">Details</a> |
                <a asp-controller="Product" asp-action="Delete" asp-route-id="@item.ProductId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>